<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="curatetechnologies.com.curate_consumer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- TODO: THIS IS ONLY THE STAGING PLACE PICKER KEY. FIGURE OUT HOW TO DO THIS WITH PROD -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCYhR42bQUapg3wVaXkATFq-e4hi6RlKPY" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="curatetechnologies.com.curate_consumer.network.firebase.CurateFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="curatetechnologies.com.curate_consumer.network.firebase.CurateFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="curatetechnologies.com.curate_consumer.network.firebase.CurateFirebaseMessageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="curatetechnologies.com.curate_consumer.modules.splash.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="curatetechnologies.com.curate_consumer.modules.main.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"/>
        <activity android:name="curatetechnologies.com.curate_consumer.modules.create_account.CreateAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="curatetechnologies.com.curate_consumer.modules.create_account_with_email.CreateAccountWithEmailActivity"
            android:theme="@style/LoginWithEmailTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="curatetechnologies.com.curate_consumer.modules.onboarding_workflow.OnBoardingWorkflowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="curatetechnologies.com.curate_consumer.modules.edit_image.EditImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="curatetechnologies.com.curate_consumer.modules.login_or_signup.LoginOrSignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="curatetechnologies.com.curate_consumer.modules.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="curatetechnologies.com.curate_consumer.modules.login_with_email.LoginWithEmailActivity"
            android:theme="@style/LoginWithEmailTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>